useDynLib(bnbc, .registration=TRUE)
importFrom(Rcpp, evalCpp)

import(methods)
import(SummarizedExperiment)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)
importMethodsFrom(GenomeInfoDb, genome, seqlengths, seqlevels)


importFrom(BiocGenerics, rownames, cbind)
importFrom(sva, ComBat)
importFrom(preprocessCore, normalize.quantiles)
importFrom(parallel, mclapply)
importFrom(matrixStats, rowVars)
importFrom(EBImage, gblur, makeBrush, filter2)
# importMethodsFrom(Matrix, mean, rowMeans, t, triu, which)






export(bnbc)

exportClasses(ContactGroup)
exportMethods("rowData", "rowData<-", "colData", "colData<-", "dim", "show", "[")
export(ContactGroup, contacts, "contacts<-")

export(librarySize)
export(logCPM)
export(boxSmoother)
export(gaussSmoother)

export(getBandMatrix)
export(getGroupZeros)
export(dropGroupZeros)
export(cgBandApply)
export(cgApply)
export(distanceIdx)
export(getBandIdx)
export(band)
export("band<-")
