useDynLib(bnbc, .registration=TRUE)
importFrom(Rcpp, evalCpp)

import(methods)
import(SummarizedExperiment)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)
importMethodsFrom(GenomeInfoDb, genome, seqlengths, seqlevels)


importFrom(BiocGenerics, rownames, cbind)
importFrom(sva, ComBat)
importFrom(preprocessCore, normalize.quantiles)
importFrom(parallel, mclapply)
importFrom(matrixStats, rowVars)
importFrom(EBImage, gblur)
importMethodsFrom(Matrix, mean, rowMeans, t, triu, which)

export(bnbc)
export(librarySizeScale)
export(getBandMatrix)
export(getGroupZeros)
export(dropGroupZeros)
export(bapply)
export(capply)
export(smoothCG)
export(ContactGroup)
export(metadata)
export(contacts)
export(librarySizeScale)
export(dropPeople)

exportClasses(ContactGroup)
export("granges<-")
export("print.ContactGroup")
export("metadata<-")
export("mcols")
export("contacts<-")
export("length.ContactGroup")
export("[.ContactGroup")
export("dim.ContactGroup")
export("nrow.ContactGroup")
export("ncol.ContactGroup")
export(distanceIdx)
export(getBandIdx)
export(getBandMatrix)
export(band)
export("band<-")
